html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.user-photo {
    width: 30px; /* Defina o tamanho desejado */
    height: 30px;
    border-radius: 50%; /* Para criar uma imagem redonda, se desejado */
}