
@model UsuarioModel
@using PontoMVC.Models.Enums;

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<div class="container mt-5">
    <div class="text-center">
        <h2>Criar Usuário</h2>
    </div>

    <form asp-controller="Usuario" asp-action="Criar" method="post">
        <div class="form-group">
            <label for="Nome">Nome</label>
            <input type="text" asp-for="Nome" class="form-control" placeholder="Digite o seu nome">
        </div>

        <div class="form-group">
            <label for="Login">Login</label>
            <input type="text" asp-for="Login" class="form-control" placeholder="Digite o login do usuário">
        </div>

        <div class="form-group">
            <label for="Email">E-mail</label>
            <input type="email" asp-for="Email" class="form-control" placeholder="Digite o e-mail do usuário">
        </div>

        

        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="inputEstado">Perfil</label>
                <select asp-for="Perfil" class="form-control">
                    <option selected>Selecione</option>
                    <option>@EPerfil.Adminstrador</option>
                    <option>@EPerfil.Padrao</option>
                </select>
            </div>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Criar</button>
            <a class="btn btn-secondary" asp-controller="Usuario" asp-action="Index" role="button">Voltar</a>
        </div>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
